/* Importing Google Fonts for Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/dunas.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.chatbot-popup {
  position: relative;
  width: 420px;
  overflow: hidden;
  background: transparent;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #6D4FC2;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #6D4FC2;
  background: #fff;
  border-radius: 50%;
}

.header-info .logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 460px;
  margin-bottom: 82px;
  overflow-y: auto;
  padding: 25px 22px;
  scrollbar-width: thin;
  scrollbar-color: #DDD3F9 transparent;
}

.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}

.chat-body .message.error .message-text {
  color: #ff0000;
}

.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #fff;
  align-self: flex-end;
  margin-bottom: 2px;
  background: #6D4FC2;
  border-radius: 50%;
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
  background: #F6F2FF;
  border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .user-message .message-text {
  color: #fff;
  background: #6D4FC2;
  border-radius: 13px 13px 3px 13px;
}

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #CCCCE5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.chat-footer .chat-form:focus-within {
  outline: 2px solid #6D4FC2;
}

.chat-form .message-input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
}

.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
  font-size: 1.15rem;
  color: #fff;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: #6D4FC2;
  transition: 0.2s ease;
}

.chat-form button:hover {
  background: #593bab;
}

.chat-form .message-input:valid~button {
  display: block;
}

/* ============================================
   RESPONSIVE - Adaptación para móviles
   ============================================ */
/* Cuando la pantalla es menor a 520px, el chatbot ocupa toda la pantalla */
@media (max-width: 520px) {

  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }  
  
  .chat-body {
    height: calc(90% - 55px);
    padding: 25px 15px;
  }
  .chat-footer {
    padding: 10px 15px 15px;
  }
  /* .chat-form .file-upload-wrapper.file-uploaded #file-cancel {
    opacity: 0;
  } */
}